{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    {
      "path": "@semantic-release/git",
      "assets": [
        "package.json",
        "CHANGELOG.md"
      ],
      "message": "release: ${nextRelease.version}"
    }
  ]
}
